<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Botbuddy</title>
    <meta name="author" content="Candelario Caldera">
    <meta name="description" content="BotBuddy Webpage">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> BotBuddy </h1>
      <p>  Think Different, Now!  </p>
      <p> Browse around & learn more of what to expect from BotBuddy! </p>
     
      <h1>
      <a href= "/" class='btn medium outline'> Home </a>
      <a href= "/product" class='btn medium outline'> Product </a>
      <a href= "/proposition" class='btn medium outline'>  Proposition </a>
      </h1>
        
    </div>

    <section class='padding-responsive'>

      <div class='separator'>Our Key Value Propositions</div>
      
      <p> We recognize the current market is blown out of proportion for everyday people due to their high costs and lack of innovation, as well as simplicity. We would like to tackle this head on. </p>
      <p> Our desktop humanoid robot helps, primarily work-at-home adults, and all ages of people who want a social and learning experience by avoiding costly and complicated robots on the market and opting for an easy-to-use/build interaction toy that can promote learning and daily satisfaction via conversation, unlike Moxie and Milko 3 which are expensive. We believe our customers will build a connection with their BotBuddy by having to build their robot in a simple manner, and also have customability features after being completed. Most toys of this manner typically become stale, and won't be used over a period of time, thus fading out; we would like to keep the user interested with the BotBuddy via add ons and other features that continue to keep the custopmer happy. We were formally names TheraBot, but needed to generalize because it came off too therapuerdic. </p>
      <p> Notable Features: </p>

      <ul>
        <li> Affordable </li>
        <li> Emotion responses </li>
        <li> Customability </li>
        <li> Portabaility </li>
        <li> Multiple Languages </li>
        <li> Fun toy for all ages </li>
      </ul>
      
       <div class='separator'>Competitors</div>

      <h1 class='bordered'> Moxie by Embodied ~ $1000 </h1>
      <h2 class=''> Telepresence Robot by Ohmnilabs ~ $2,700 </h2>
      <h3 class=''> ClicBot ~ $750 </h3>
      <h4 class=''> Robosen Programmable Robot ~ $250 </h4>
      <h5 class=''> Milko 3 ~ $250 </h5>
      <h6 class=''> Petoi Bittle ~ $300 </h6>
      
      <div class='separator'>CEO's</div>

      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class='separator'>Place a Pre-order</div>

      <form>

        <section class='responsive_grid'>

          <div class='field'>
            <label> Enter your full name: &nbsp;</label>
            <input type='text' name='name' value='' class='margin-top-lg'>
          </div>

          <div class='field select '>
            <label> Choose a color: &nbsp;</label>
            <div class="select margin-top-lg">
              <select>
                <option>--------</option>
                <option>Red</option>
                <option>Green</option>
                <option>Blue</option>
              </select>
              <div class="select__arrow"></div>
            </div>
          </div>
        </section>

        <section class='responsive_grid'>
          <div class="field">
            <label> Intended Use </label>
            <label class="margin-top-lg control control--checkbox">Personal
              <input type="checkbox" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Instructional
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="field">
            <label> Shipping Method: </label>
            <label class="margin-top-lg control control--radio">USPS Retail Ground
              <input type="radio" name="radio" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Priority Mail Express
              <input type="radio" name="radio" />
              <div class="control__indicator"></div>
            </label>
          </div>
        </section>

      </form>

    </section>

  </body>
</html>
